/****************** FOOTER ******************/

.apropos__container {
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    justify-content: space-around;
    height: 10.188rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }
  
  .apropos__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 1.5rem;
  }
  
  .apropos__title{
      padding-bottom: 1rem;
      cursor: default;
  }
  
  .footer__appBar ul{
    list-style-type: none;
    padding: 0;
  }
  .footer__appBar li{
      margin-bottom: 1rem;
  }



/****************** Media queries ******************/
/****************** Phone ******************/
/* Small devices (phones, less than 768px) */


  @media (min-width: 320px) and (max-width: 767.98px){
    .apropos__container{
      display: unset;
      margin: 1rem 0 1rem 1rem;
    }

    .apropos__content{
      margin-top: 0;
    }
  }