/****************** Hebergements And Populaires ******************/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
  }
  
  .hebergements-and-populaires .hebergements,.populaires {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 1.875rem;
    box-sizing: border-box;
  }

  
/****************** Hebergements ******************/

.hebergements {
    width: 65%;
  }
  
  .hebergements-title {
    margin-bottom: 2rem;
    cursor: default;
  }
  
  .hebergements h3 {
    padding-top: 2rem;
    cursor: default;
  }
  
  .hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    gap: 2rem;
  }
  
  .hebergements-cards .card-content {
    width: 100%;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
  }
  
  .hebergements-cards .card-subtitle {
    padding-top: 0.3rem;
    padding-bottom: 0.2rem;
    margin: 0;
  }
  
  .hebergements-cards .card-rating {
    margin-bottom: 5px;
    padding-left: 1rem;
  }
  
  .hebergements-cards .card-text {
    padding-top: 0.5rem;
  }
  
  .card__chambre {
    background-color: white;
    border-radius: 30px;
    padding: 5px;
    width: 15.625rem;
    height: 12.938rem;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  }
  
  .chambre {
    width: 100%;
    height: 7.75rem;
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    object-fit: cover;
  }
  
  .card:hover,
  .card__chambre:hover {
    background-color: var(--grey-color);
    opacity: 1;
  }
  
  
  
  
  /****************** Populaires ******************/
  
  .populaires {
    width: 32%;
  }
  
  .populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: default;
  }
  
  .populaires-cards .card {
    display: flex;
    margin-top: 33px;
  }
  
  .populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  .populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
  }
  
  .populaires-cards .card-subtitle {
    margin: 0;
  }
  
  .populaires-cards .card-rating {
    margin-bottom: 5px;
  }


/****************** Media queries ******************/

/****************** Tablet ******************/
/* Medium devices (tablets, less/equal than 1024px) */

@media (min-width:768px) and (max-width: 1024px) {

  .hebergements-and-populaires {
    flex-direction: column;
    margin: 0rem 3rem 3rem 3rem;
    width: 90%;
  }

  .hebergements {
    margin-bottom: 3rem;
    width: 100%;
  }

  .hebergements-cards{
    gap: 1rem;
  }

  .card__chambre{
    width: 16.2rem;
    height:12.5rem;
  }

  .chambre{
    height: 7rem;
  }

  .populaires {
    width: 100%;
    margin-top: 16px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 16px;
  }

  .populaires-cards .card-subtitle {
    font-size: 16px;
  }


}




/****************** Phone ******************/
/* Small devices (phones, less than 768px) */


  @media (min-width: 320px) and (max-width: 767.98px){
    .hebergements-and-populaires{
      flex-direction: column-reverse;
    }

    .hebergements-and-populaires section{
      border-radius:0;
    }

    .hebergements-and-populaires .hebergements{
      background-color: white;
      padding: 0;
      border-radius: 0px;
    }

    .populaires{
      width: 100%;
    }

    .hebergements-title{
      margin: 2rem 0 1rem 1rem;
    }

    .hebergements{
      width: 100%;
    }

    .text-afficher {
      padding-top: 1rem !important;
      padding-left: 2rem;
    }

    .hebergements-cards{
      justify-content:center;
      border-radius: 0;
    }

    .hebergements-cards .card-text {
      padding-bottom: 0.5rem;
    }


    .card__chambre{
      width: 21rem;
      border-radius: 1.2rem;
      padding: 5px;
    }  

    .chambre{
      border-top-right-radius: 1rem;
      border-top-left-radius: 1rem;
      height: 7rem;
    }
    
    
  }