*{
    margin: 0;
}

.appBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5rem;
    margin-bottom: 3.5rem;
}


.appBar__nav-item{
    margin-left: 4rem;
    padding-top: 1.38rem;
    cursor:default;
}


.appBar__nav-item:hover{
    color: var(--main-color);
    border-top: 0.2rem solid var(--main-color);
}

.appBar__icon{
    padding: 0;
}
.appBar__icon img{
    width: 6.5rem;
    height: 2rem;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media (min-width:768px) and (max-width:1024px){
   .appBar{
    margin-left: 3rem;
   }

   .appBar__nav-item{
    margin-right: 4rem;
    margin-left: 0rem;
   }
}


/* Small devices (phones, less than 768px) */
@media (min-width:320px) and (max-width: 767.98px) {

    .appBar{
      display:flex;
      flex-direction: column;
      justify-content: center;
    }
  
    .appBar__nav{
      display: flex;
      flex-direction: row;
      align-items: start;
      justify-content: space-around;
      border-bottom: 2px solid rgba(217, 217, 217, 0.2);
      padding: 1rem;
   }
  
    .appBar__nav-item{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin:0;
        padding: 0;
    }
    
    .appBar__nav-item:hover{
      border-top: none;
      border-color: var(--main-color);
    }


    .appBar__icon{
        display: flex;
        flex-direction: row;
        justify-content:center;
        width: 100%;
        margin-bottom: 1rem;
        
   }
  
  
  }
  